@model IEnumerable<OnlineConsult.Models.Patient>

    @foreach (OnlineConsult.Models.Patient item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.signupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UID }) |
                @Html.ActionLink("Details", "Details", new { id = item.UID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UID })
            </td>
        </tr>
    }
