@model OnlineConsult.Models.Consult

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Consult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
